POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=smashfriend
POSTGRES_SSLMODE=disable

APP_ENV=development

CLERK_SECRET_KEY=your_clerk_secret_key_here
