@import "tailwindcss";

@theme {
  --color-purple-midnight: #38334e;
  --color-blue-midnight: #191e29;
  --color-smokey-white: #cacaca;
  --color-hot-pink: #592b5d;
  --color-neon-pink: #f45cff;
  --color-pink-purple: #96619a;
}
